AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ru-central1
S3_ENDPOINT_URL=https://storage.yandexcloud.net

S3_BUCKET=binance-data-downloader
RAW_PREFIX=raw
FEATURES_PREFIX=features

SYMBOL=ADAUSDT
INTERVAL=1m
FEATURE_DATASET_NAME=intraminute_features
SKIP_EXISTING=true

# Optional date filter, YYYY-MM-DD
# START_DATE=2020-02-01
# END_DATE=2026-02-01
